# ignore env variablres and secrets
.env
*.env
run/
run/**
secrets/
secrets/**
.env-old

# ignore media files
media/
media/**
*.mkv
*.mp4
*.wav
*.mp3

#ignore inm process files
./apps/_*
apps/_*


# ignore logs
logs/
logs/**
logs
log/
log/**
log
log.*
*.log
*.gz
*.zip

# ignore build dependencies
**/build
/dist

# ignore backup files
*.bac
*.backup
backup/**

# ignore credential files
*.pem
*.crt 
*.ca-bundle
*.p7b
*.p7s
*.der
*.cer 
*.pfx
*.p12
*.key

# ignore temp files
*.tmp 
tmp/**

# ignore IDE files
.idea/
*.sw*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# ignore cache
cache/**
cache/
db/
db/**

# ignore airsonic files
restore/
restore/**
./apps/airsonic/config/**
apps/airsonic/config/**

# ignore tautulli files
./apps/tautulli/config/**
./apps/tautulli/config/tautulli.*
apps/tautulli/config/**

#ignore syncthing 
./apps/syncthing/config/**
apps/syncthing/config/**

# ignore vpn dependencies
etc
etc/**
usr
usr/**

# ignore secrets
./secrets.d/**
./secrets.d/
./run/secrets.d
./run/secrets.d/**
run/secrets.d
run/secrets.d/**


# ignore media files
./media/**
media/**

# ignore dashy files
./apps/dashy/config/**
!./apps/dashy/config/config.yml
apps/dashy/config/**
!apps/dashy/config/config.yml
\# ignore WIP files
./WIP*
./apps/_*
WIP*
apps/_*

# Ignore traefik files
./apps/traefik/ssl-certs/**
./apps/traefik/ssl-certs
./apps/traefik/etc/traefik/users
apps/traefik/ssl-certs/**
apps/traefik/etc/traefik/users

# ignore plex files
./apps/plex/config/**
apps/plex/config/**
